<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>548911980877-np6mdgacho7c0st8g8i51b4vs56soqgr.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.548911980877-np6mdgacho7c0st8g8i51b4vs56soqgr</string>
	<key>API_KEY</key>
	<string>AIzaSyDZeDWX8W2x5boFAxvUE_mAVZVZFYxWZVY</string>
	<key>GCM_SENDER_ID</key>
	<string>548911980877</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.salesRecords</string>
	<key>PROJECT_ID</key>
	<string>sales-record-keeper</string>
	<key>STORAGE_BUCKET</key>
	<string>sales-record-keeper.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:548911980877:ios:56733c08faab4dc0881704</string>
</dict>
</plist>